<%- include('partials/header.ejs'); -%> 

<%# If statement that checks if the user's username is available. 
If available, run the homepage. %>
<% if(locals.username){ %>

<%# Username greeter. %>
<h1 class="mx-3 mt-4 py-2 mb-5">Hello! <%= username %></h1>

<%# Form that submits to the homepage post request located in index.js. %>
<form class="form mx-auto mt-5" action="/homepage" method="post">
  
  <h3>Enter the following information for you book. (Book must have a valid ISBN number.)</h3>

  <%# Title text box. %>
  <div class="form-floating mt-3 mb-2">
    <input
      type="text"
      class="form-control"
      id="floating"
      placeholder="Type the title of the book"
      name="title"
    />
    <label for="floating">Title:</label>
  </div>

  <%# Author text box. %>
  <div class="form-floating mt-2 mb-3">
    <input
      type="text"
      class="form-control"
      id="floating"
      placeholder="Type the author of the book"
      name="author"
    />
    <label for="floating">Author:</label>
  </div>

  <%# Find book button. %>
  <button class="btn btn-primary w-100 py-2 mt-2" type="submit">Find Book!</button>
</form>

<%# If statement that checks if the book's image is available. 
If available, create a review box with the following information... %>
<% if(locals.image){ %>
    <div class="row">
      <div class="mx-auto mt-5 d-flex">
        <div class="col-lg-4 mx-auto mt-5">

          <%# If statement that checks if the book's title is available. %>
          <% if(locals.title){ %>
          
          <%# Form that submits to the add post request located in index.js. %>
          <form action="/add" method="post">

            <%# Fieldset containing the review. %>
            <fieldset>

            <legend>Review:</legend>

            <%# Image tag that contains the book image. %>
            
            <img class="mb-3" src= <%= image %> alt="Book Review" width="180px" height="271px"> 
          
            <input class="hidden" type="text" name="cover" value= <%= image %>>
            
            <br />

            <%# Label tag that contains the book's title. %>
            <label class="mt-3 mb-2" for="title">Title: </label>

            <br>

            <input type="text" name="title" value= '<%= title %>' size="40">
            
            <br>
            
            <%# Label tag that contains the author of the book. %>
            <label class="mt-3 mb-2" for="author">Author: </label>

            <br>

            <input type="text" name="author" id="author" value= '<%= author %>'>
            
            <br>

            <%# Label tag that contains the book's rating. %>
            <label class="mt-3 mb-2" for="rating">Rating:</label>

            <br>

            <select name="rating" id="rating">
              <option value="⭐">⭐</option>
              <option value="⭐⭐">⭐⭐</option>
              <option value="⭐⭐⭐">⭐⭐⭐</option>
              <option value="⭐⭐⭐⭐">⭐⭐⭐⭐</option>
              <option value="⭐⭐⭐⭐⭐">⭐⭐⭐⭐⭐</option>
            </select>
            
            <br />

            <%# Label tag that contains the book's review. %>
            <label class="mt-2 mb-2" for="review">Book Review:</label>

            <br />

            <textarea
              id="review"
              placeholder="Write your review..."
              name="review"
              rows="4"
              cols="45"
              maxlength="500"
            ></textarea>

            <br />

            <%# Create review button. %>
            <div style="text-align: center">
              <button class="btn btn-primary py-2 mt-3" type="submit" value="Submit">Create Review!</button>
            </div>

            </fieldset>
          </form>

          <% } %>
        </div>
      </div>
    </div>
<% } %> 

<%# Else, ask the guest to signin or create a account. %>
<% } else { %>
      <h1>Welcome Guest! Please signin or create a account.</h1>
<% } %> 

<%- include('partials/footer.ejs'); -%>
